<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="storageListener" />
      </listeners>
    </trace>
    <sources>
      <source name="Microsoft.WindowsAzure.Storage">
        <listeners>
          <add name="storageListener"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="Microsoft.WindowsAzure.Storage" value="Verbose" />
    </switches>
    <sharedListeners>
      <add name="storageListener"
        type="System.Diagnostics.TextWriterTraceListener"
        initializeData="C:\logs\WebRole.log"
        traceOutputOptions="DateTime" />
    </sharedListeners>
  </system.diagnostics>
</configuration>